{# empty Twig template #}

{% for milestone in milestones %}
    {% if milestone.solution == "CHINE" %}
        <a href="{{ path('asmolding_admin_manageMilestones', {'id':milestone.id}) }}"><li class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>
            {{milestone.name}}
            <input type="text" readonly="true" value="{{milestone.sequence}}" class="ui-state-default inline" id="posInput"/>
        </li></a>
    {% endif %}
{% endfor %}

{#
        <li class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>
            Date Clôture
            <input type="text" readonly="true" value="13" class="ui-state-default inline" id="posInput"/>
        </li>
        <li class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>
            Réception France
            <input type="text" readonly="true" value="14" class="ui-state-default inline" id="posInput"/>
        </li>
        <li class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>
            T3 France
            <input type="text" readonly="true" value="15" class="ui-state-default inline" id="posInput"/>
        </li>
#}